
/* Lane styles */
.Lane{
  /*background-image: url('../../images/cork.jpg'); */
  background-color: #ED9D4D;
  width: 200px;
  min-height: 500px;
  float: left;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddLane {
  background-color: green;
}